<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>kup.solutions.notion-gate</string>
    <key>CFBundleName</key>
    <string>Notion Gate</string>
    <key>CFBundleIconFile</key>
    <string>NotionGate</string>
    <key>CFBundleIconName</key>
    <string>NotionGate</string>
</dict>
</plist>
